@model IEnumerable<reservasjc.Models.Reserva>

<h2>Reservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Cliente</th>
            <th>Fecha de Reserva</th>
            <th>Número de Personas</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.NombreCliente</td>
                <td>@reserva.FechaReserva.ToShortDateString()</td>
                <td>@reserva.NumeroPersonas</td>
                <td>@reserva.Observaciones</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Crear Nueva Reserva</a>


